includes:
    - ./vendor/phpstan/phpstan-mockery/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    tmpDir: ./phpstan-cache
    paths:
        - src
        - tests
